* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #444;
    line-height: 1.5;
  }
  
  nav,
  footer {
    padding: 1% 0;
    font-family: 'Roboto', sans-serif;
    color: #F6554D;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    text-align: left;
    padding: 1% 1%;
  
  }
  
  
  
  header {
    font-family: 'Archivo Black', sans-serif;
    padding: 12% 0%;
    background-color: #132F63;
    color: #F7F1EA;
    text-align: center;
  
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color:  #F7F1EA;
    text-align: center;
  
  }
  
  section:nth-child(even) {
    background-color: #F7F1EA;
  }
  